<header class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header__content">
          <div class="header__box">
            <a href="/" class="header__logo">
              <img src="assets/images/icons/logo.svg" alt="logo" />
            </a>
            <div class="language-select">
              <select name="language" class="js-choice">
                <option value="Рус">Рус</option>
                <option value="Каз">Каз</option>
              </select>
            </div>
          </div>
          <div class="header__box">
            <nav class="menu">
              <ul class="menu__list">
                <li class="menu__item">
                  <a href="#">О портале</a>
                  <ul class="sub-menu">
                    <li>
                      <span>О портале</span>
                    </li>
                    <li>
                      <a href="#">
                        <span>Продукты КМФ</span>
                        <svg class="icon icon--link-arrow">
                          <use xlink:href="assets/svg-sprite.svg#link-arrow"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>Новости / Анонсы</span>
                        <svg class="icon icon--link-arrow">
                          <use xlink:href="assets/svg-sprite.svg#link-arrow"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>О программе KMF Isker Hanymy</span>
                        <svg class="icon icon--link-arrow">
                          <use xlink:href="assets/svg-sprite.svg#link-arrow"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>Истории успеха</span>
                        <svg class="icon icon--link-arrow">
                          <use xlink:href="assets/svg-sprite.svg#link-arrow"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="menu__item">
                  <a href="#">Бизнес</a>
                </li>
                <li class="menu__item">
                  <a href="#">Обучение</a>
                </li>
                <li class="menu__item">
                  <a href="#">Забота о себе</a>
                </li>
              </ul>
            </nav>
            <a class="header__btn btn" href="#">Премия KMF Isker hanymy</a>
            <a class="logo" href="#">
              <img src="assets/images/icons/logo-2.svg" alt="logo" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
