.btn
  display: flex
  justify-content: center
  align-items: center

  position: relative

  font-weight: 600
  font-size: 16px
  color: #fff

  border-radius: 16px

  border: none
  outline: none
  text-decoration: none
  user-select: none

  transition: all .3s ease
  background: $purple
  &:hover
    background: $hover

  &:active:not(.disabled)

  &.disabled
    opacity: .4
